/* Header Settings */
.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-left: 80px;
   padding-right: 70px;
}
.header {
    background-color: #1f2937;
    color: white;
}

/* Header right link setting */
#links{
    display: flex;
    flex-direction: row;
    gap:32px;
}
.left-links {
    margin-left: 70px;
}

.right-links {
    margin-right: 80px;
    display: flex;
    align-items: center;
    font-size: 24px;

}

/* remove underline and bullet point */
a {
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

/* Hero Section */
.info-con{
    width: 600px;
}
.hero-section{
    display: flex;
    justify-content: space-between;
}
.hero-section {
    padding-bottom: 30px;
    background-color: #1f2937;
}
.headline{
    margin-left: 150px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}
.text-con{
    display: flex;
    flex-direction: column;
}
.text-con {
    color: #F9FAF8;
    font-size: 18px;
    margin-left: 150px;
}
#btnSignUp {
    margin-left: 150px;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: #3882F6;
}
/* image container */
.image-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: lightgray;
}
.image-con {
    margin-right: 150px;
}
/*random stuff section*/
.title{
    font-size: 36px;
    font-weight: 800px;
}
.title h2 {
    margin: 0;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
}
#boxes{
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}
#boxes{
    margin-top: 30px;
}
.box-con{
    width: 160px;
}
 .box-con p {
   padding-left: 13px;
 }
