/* Font For Heading  */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* Font for Quote */
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
body {
    margin: 0;
}
/* Header Settings */
.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-left: 80px;
   padding-right: 70px;
}
.header h2 {
    font-family: 'Archivo Black', sans-serif;
    color: #00b4d8;
    animation: color 12s ease-in-out infinite;
}

/* Make logo change colour */
@keyframes color {
    0%{
        color: #3882F6;
    }
    25% {
        color: aquamarine;
    }
    50% {
        color: lightblue;
    }
    100% {
        color:  #00b4d8;
    }
    
}

.header {
    background-color: #1f2937;
}

/* Header right link setting */
#links{
    display: flex;
    flex-direction: row;
    gap:32px;
}
.left-links {
    margin-left: 70px;
}

.right-links {
    margin-right: 80px;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.right-links a {
    color: #00b4d8;
    font-family: 'Archivo Black', sans-serif;
}

/* remove underline and bullet point */
a {
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

/* Hero Section */
.info-con{
    width: 600px;
}
.hero-section{
    display: flex;
    justify-content: space-between;
}
.hero-section {
    padding-bottom: 30px;
    background-color: #1f2937;
}
.headline{
    margin-left: 150px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}
.text-con{
    display: flex;
    flex-direction: column;
}
.text-con {
    color: #F9FAF8;
    font-size: 18px;
    margin-left: 150px;
}
#btnSignUp {
    margin-left: 150px;
    margin-top: 20px;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: #3882F6;
}
/* image container */
.image-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.image-con {
    margin-right: 150px;
}
.image-con img {
    border: solid 2px lightseagreen;
    border-radius: 10px;
    width: 600px;
}
/*random stuff section*/
.title{
    font-size: 36px;
    font-weight: 800px;
}
.title h2 {
    margin: 0;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
}
#boxes{
    width: 150px;
    height: 150px;
}
#boxes{
    margin-top: 30px;
    margin-bottom: 20px;
}
.box-con{
    width: 160px;
}
 .box-con p {
   padding-left: 13px;
   margin-bottom: 40px;
 }

 /* image inside boxes */
 .img1 {
    width:150px;
    height:150px;
    border: solid 2px #3882F6;
    border-radius: 15px;
 }
/* Quote Section */
.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}
.quote-con{
    width: 700px;
    font-size: 36px;
}
.quote-con p{
   margin-top:50px;
   margin-bottom: 0;
   font-family: 'Love Light', cursive;
}
.quote-by p{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-family: 'Love Light',cursive;
    font-size: 30px;
    margin: 1px;
}
.quote-by {
width: 700px;
}

/* Ad Section */
.ad-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.ad-con {
    border: solid 1px green;
    background-color: #3882F6;
    width: 700px;
    height: 150px;
    border-radius: 15px;
}
.ad-con {
    margin-top:50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.ad-text{
    margin-left: 100px;
}
.SignUpBtn {
    margin-right: 100px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
.footer-section {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;

}
.footer-section{
    height: 70px;
    font-weight: 800;
    color: white;
}
.box-con img:hover {
    box-shadow: 10px 6px 6px 6px;
}

#btnSignUp:hover, .SignUpBtn:hover {
    background-color: cornflowerblue;
    box-shadow: 0 5px 0 0;
}